.one {
    padding: 0;
    margin: 0;
    width: 1920px;
    height: 900px;
    background-image: url("bgc.jpg");
    color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 30px 405px 20px 405px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    height: 47px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    padding: 0 405px 0 405px;
}

.navigation div {
    width: 277px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
}

.navigation div:hover {
    color: #99862A;
    cursor: pointer;
    transition: 0.5s;
}

.nav2 {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.nav3 {
    border-right: 1px solid #FFFFFF;
}

.buttons {
    width: 415px;
    height: 50px;
    padding: 583px 753px 150px 752px;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #99862A;
    border: none;
    padding: 15px 30px;
}

.buttons button:hover {
    cursor: pointer;
    border: 1px solid #99862A;
    background-color: #FFFFFF;
    color: #282828;
    transition: 0.5s;
}



/* Начало вёрстки второго блока */


.two {
    padding: 0;
    margin: 0;
    width: 1920px;
    height: 856px;
    background-image: url("bgc2.jpg");
}

h1 {
    position: absolute;
    width: 736px;
    height: 54px;
    left: 592px;
    top: 1060px;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.line6 {
    width: 160px;
    height: 0px;
    background-color: #FFFFFF;
    position: absolute;
    left: 880px;
    top: 1154px;
    border: 1px solid #FFFFFF;
}
.text1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    width: 733px;
    height: 192px;
    left: 595px;
    top: 1194px;
}

.bokal {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 880px;
    top: 1436px;
}

.border {
    width: 100px;
    height: 100px;
    position: absolute;
    width: 1110px;
    height: 656px;
    left: 405px;
    top: 1000px;
    border: 3px solid #C4C4C4;
}

/* Начало вёртски третьего экрана (который с таблицей) */

.three {
    width: 1920px;
    height: 1038px;
    background-image: url(bgc3.jpg);
}


.line_top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 405px 60px 405px;
}

.line_top1 {
    width: 1110px;
    height: 1px;
    background-color: #99862A;
}

.container_first {
    display: flex;
}

.info {
    display: flex;
    padding: 0 125px 60px 405px;
    width: 445px;
    height: 758px;
    flex-direction: column;
}

.slider {
    width: 540px;
    height: 758px;
    padding: 0 405px 60px 0;
}

.vino3 {
    margin: 0 0 25px 0;
}

.vino2 {
    margin: 0 0 0 25px;
}

.info h3 {
    margin: 0 0 30px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.info h2 {
    margin: 0 0 30px 0;
    width: 298px;
    height: 108px;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 150%;
    color: #282828;
}

.info .line9 {
    
}


/* Начало вёрстки четвертого экрана*/

.four {
    width: 1920px;
    height: 767px;
    background-image: url(bgc4.jpg);
    color: #FFFFFF;
}

.container {
    position: absolute;
    width: 1110px;
    height: 538px;
    left: 405px;
    top: 2923px;
    border: 3px solid #C4C4C4;
}

.four_h2 {
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    width: 490px;
    height: 74px;
    left: 715px;
    top: 2864px;
    background: #282828;
}

.vinograd {
    position: absolute;
    width: 260px;
    height: 260px;
    left: 375px;
    top: 2854px;
}

.bo4ka {
    position: absolute;
    width: 260px;
    height: 200px;
    left: 1308px;
    top: 2858px;
}

.four p {
    position: absolute;
    width: 539px;
    height: 72px;
    left: 691px;
    top: 3028px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.line10 {
    position: absolute;
    width: 118px;
    height: 0px;
    left: 901px;
    top: 2988px;
    border: 1px solid #FFFFFF;
}

.input_name {
    position: absolute;
    width: 255px;
    height: 30px;
    left: 690px;
    top: 3181px;
}

.input_phone {
    position: absolute;
    width: 255px;
    height: 30px;
    left: 975px;
    top: 3181px;
}

.input_adress {
    position: absolute;
    width: 540px;
    height: 30px;
    left: 690px;
    top: 3251px;
}

.zapis {
    position: absolute;
    width: 541px;
    height: 50px;
    left: 689px;
    top: 3331px;
    border: 1px solid #FFFFFF;
    background-color: #282828;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.input_name, .input_phone, .input_adress {
    background-color: #282828;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
}


.footer {
    width: 1920px;
    height: 220px;
    background-image: url(bgc5.jpg);
}

.footer li {
    list-style: none;
}

.table1 {
    width: 1110px;
    height: 60px;
    display: flex;
    margin: 0;
    padding: 0;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 405px;
    top: 3611px;
}

.table2 {
    width: 1110px;
    height: 60px;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 405px;
    top: 3671px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
}

.table1 li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin: 0px 30px 0px 30px;
}

.table2 li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px 60px 0px 60px;
}

.line19 {
    position: absolute;
    width: 57px;
    height: 0px;
    left: 755px;
    top: 3701px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.line20 {
    position: absolute;
    width: 57px;
    height: 0px;
    left: 990px;
    top: 3701px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.line21 {
    position: absolute;
    width: 57px;
    height: 0px;
    left: 1250px;
    top: 3701px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}