.one {
    width: 1920px;
    height: 900px;
    background-image: url("bgc.jpg");
    color: #FFFFFF;
    display: flex;
}

.street {
    margin: 0;
    padding: 0;
    width: 202px;
    height: 20px;
    position: absolute;
    top: 30px;
    left: 405px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
}

.number {
    margin: 0;
    padding: 0;
    width: 107px;
    height: 20px;
    position: absolute;
    top: 30px;
    right: 405px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    position: absolute;
    width: 1110px;
    height: 47px;
    left: 405px;
    top: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
}

.navigation li {
    justify-content: center;
    align-items: center;
    padding: 30px 110px 30px 110px ;
    border: 1px solid #FFFFFF;
}

.border1 {
    border-left: 1px solid #99862A;
}

.btn1 {
    padding: 15px 30px 15px 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    position: absolute;
    width: 203px;
    height: 50px;
    left: 752px;
    top: 700px;
    background: #99862A;
    color: #FFFFFF;
    border: none;
}

.btn2 {
    padding: 15px 30px 15px 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    position: absolute;
    width: 182px;
    height: 50px;
    left: 985px;
    top: 700px;
    background: #99862A;
    color: #FFFFFF;
    border: none;
}




.two {
    padding: 0;
    margin: 0;
    width: 1920px;
    height: 856px;
    background-image: url("bgc2.jpg");
}

h1 {
    position: absolute;
    width: 736px;
    height: 54px;
    left: 592px;
    top: 1060px;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.line6 {
    width: 160px;
    height: 0px;
    background-color: #FFFFFF;
    position: absolute;
    left: 880px;
    top: 1154px;
    border: 1px solid #FFFFFF;
}
.text1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    width: 733px;
    height: 192px;
    left: 595px;
    top: 1194px;
}

.bokal {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 880px;
    top: 1436px;
}

.border {
    width: 100px;
    height: 100px;
    position: absolute;
    width: 1110px;
    height: 656px;
    left: 405px;
    top: 1000px;
    border: 3px solid #C4C4C4;
}



.three {
    width: 1920px;
    height: 1038px;
    background-image: url(bgc3.jpg);
    padding: 0;
    margin: 0;
}

.line_top {
    position: absolute;
    width: 1110px;
    height: 0px;
    left: 405px;
    top: 1836px;
    border: 1px solid #998431;
}

h3 {
    position: absolute;
    width: 347px;
    height: 24px;
    left: 405px;
    top: 1896px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000
}

.marsel {
    position: absolute;
    width: 298px;
    height: 108px;
    left: 405px;
    top: 1950px;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 150%;
}

.line9 {
    position: absolute;
    width: 160px;
    height: 0px;
    left: 405px;
    top: 2118px;
    background: #282828;
    border: 1px solid #282828;
}

.text2, .text3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
}

.text2 {
    margin-top: 30px;
    position: absolute;
    width: 445px;
    height: 84px;
    left: 405px;
    top: 2118px;
}

.text3 {
    position: absolute;
    width: 445px;
    height: 84px;
    left: 405px;
    top: 2490px;
}

.line_bot {
    position: absolute;
    width: 1110px;
    height: 0px;
    left: 405px;
    top: 2714px;
    border: 1px solid #998431;
}

.bnt3 {
    position: absolute;
    width: 254px;
    height: 50px;
    left: 405px;
    top: 2604px;
    background: #998431;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20px;
    border: none;
}

.vino3 {
    position: absolute;
    width: 540px;
    height: 500px;
    left: 975px;
    top: 1896px;
}

.vino2 {
    position: absolute;
    width: 255px;
    height: 228px;
    left: 975px;
    top: 2426px;
}

.vino1 {
    position: absolute;
    width: 255px;
    height: 228px;
    left: 1260px;
    top: 2426px;
}

.line10 {
    position: absolute;
    width: 445px;
    height: 0px;
    left: 405px;
    top: 2305px;
    background: #282828;
    border: 1px solid #282828;
}

.line11 {
    position: absolute;
    width: 228px;
    height: 0px;
    left: 380px;
    top: 2350px;
    background: #282828;
    border: 1px solid #282828;
    transform: rotate(90deg);
}

.line12 {
    position: absolute;
    width: 445px;
    height: 0px;
    left: 405px;
    top: 2383px;
    background: #282828;
    border: 1px solid #282828;
}

.date {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
}

.v1_1980 {
    position: absolute;
    width: 32px;
    height: 21px;
    left: 424px;
    top: 2258px;
}

.v2_1980 {
    position: absolute;
    width: 32px;
    height: 21px;
    left: 424px;
    top: 2336px;
}

.v3_1980 {
    position: absolute;
    width: 32px;
    height: 21px;
    left: 424px;
    top: 2414px;
}

.v1 {
    position: absolute;
    width: 271px;
    height: 21px;
    left: 510px;
    top: 2425px;
}

.v2 {
    position: absolute;
    width: 271px;
    height: 21px;
    left: 510px;
    top: 2347px;
}

.v3 {
    position: absolute;
    width: 271px;
    height: 21px;
    left: 510px;
    top: 2269px;
}

.zagolovok {
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 150%;
    color: #282828;
}

.vz1 {
    position: absolute;
    width: 303px;
    height: 27px;
    left: 510px;
    top: 2393px;
}

.vz2 {
    position: absolute;
    width: 303px;
    height: 27px;
    left: 510px;
    top: 2315px;
}

.vz3 {
    position: absolute;
    width: 303px;
    height: 27px;
    left: 510px;
    top: 2237px;
}



.four {
    width: 1920px;
    height: 767px;
    background-image: url(bgc4.jpg);
    color: #FFFFFF;
}

.container {
    position: absolute;
    width: 1110px;
    height: 538px;
    left: 405px;
    top: 2923px;
    border: 3px solid #C4C4C4;
}

.four_h2 {
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    width: 490px;
    height: 74px;
    left: 715px;
    top: 2864px;
    background: #282828;
}

.vinograd {
    position: absolute;
    width: 260px;
    height: 260px;
    left: 375px;
    top: 2854px;
}

.bo4ka {
    position: absolute;
    width: 260px;
    height: 200px;
    left: 1308px;
    top: 2858px;
}

.four p {
    position: absolute;
    width: 539px;
    height: 72px;
    left: 691px;
    top: 3028px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.line10 {
    position: absolute;
    width: 118px;
    height: 0px;
    left: 901px;
    top: 2988px;
    border: 1px solid #FFFFFF;
}

.input_name {
    position: absolute;
    width: 255px;
    height: 30px;
    left: 690px;
    top: 3181px;
}

.input_phone {
    position: absolute;
    width: 255px;
    height: 30px;
    left: 975px;
    top: 3181px;
}

.input_adress {
    position: absolute;
    width: 540px;
    height: 30px;
    left: 690px;
    top: 3251px;
}

.zapis {
    position: absolute;
    width: 541px;
    height: 50px;
    left: 689px;
    top: 3331px;
    border: 1px solid #FFFFFF;
    background-color: #282828;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.input_name, .input_phone, .input_adress {
    background-color: #282828;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
}


.footer {
    width: 1920px;
    height: 220px;
    background-image: url(bgc5.jpg);
}

.footer li {
    list-style: none;
}

.table1 {
    width: 1110px;
    height: 60px;
    display: flex;
    margin: 0;
    padding: 0;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 405px;
    top: 3611px;
}

.table2 {
    width: 1110px;
    height: 60px;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 405px;
    top: 3671px;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
}

.table1 li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin: 0px 30px 0px 30px;
}
